@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	animation: backgroundTransition 45s infinite alternate;
	color: #fff;
	line-height: 1.6;
}

@keyframes backgroundTransition {
	0%{
		background-color: #EA4C3C;
	}
	
	50%{
		background-color: #ea6d3c;
	}

	75%{
		background-color: #eab33c;
	}

	100%{
		background-color: #bcea3c
	}
}

ul {
	list-style: none;
  }
  
  .container {
	max-width: 768px;
	margin: 100px auto;
	padding: 0 20px;
  }

